.main1 {
  display: flex;
}
.main1__friendslist {
  margin-left: 9%;
  padding-top: 5%;
  height: 100vh;
  width: 41%;
  background-color: white;
  border-right: 1px dotted rgba(0, 0, 0, 0.2);
}
.main1__friendslist__search {
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
  align-items: center;
  margin-bottom: 10px;
}
.main1__friendslist__search input {
  background-color: rgba(0, 0, 0, 0.02);
  border: none;
  width: 88%;
  height: 30px;
}
.main1__friendslist__search input::placeholder {
  color: rgba(0, 0, 0, 0.2);
  font-size: 12px;
}
.main1__friendslist__search i {
  color: rgba(0, 0, 0, 0.2);
  margin-left: 5px;
}
.space_for_imoticon {
  height: 30px;
  border: 0.5px dotted rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
}
.main1__friendslist__notice {
  width: 100%;
  height: 12vh;
  background-color: #04cf5c;
  color: white;
  font-weight: 400;
  font-size: 11px;
  padding-top: 10px;
  padding-left: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
}
.main1__friendslist__myprofile {
  width: 100%;
  height: 10%;
  box-sizing: border-box;
  margin-top: 20px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.space-for-img {
  display: flex;
  align-items: center;
}
.space-for-img span {
  font-weight: 600;
  font-size: 12px;
}
.main1__friendslist__myprofile img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
}
.space-for-keep {
  width: 45px;
  height: 20px;
  border-radius: 10px;
  border: 0.2px dotted rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.space-for-keep span {
  font-size: 11px;
}
.main1__status-bar {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 11px;
  color: rgba(0, 0, 0, 0.2);
  font-weight: 600;
}
.main1__list-friends__friend {
  display: flex;
  width: 100%;
  height: 10%;
  box-sizing: border-box;
  padding: 0px 10px;
  align-items: center;
  margin-bottom: 10px;
  transition: all 0.5s ease-in-out;
}
.main1__list-friends__friend:hover {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}
.main1__list-friends__friend img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
}
.main1__list-friends__friend span {
  font-weight: 800;
  font-size: 12px;
}
.main1__chatspace {
  width: 50%;
  height: 100vh;
  margin-left: 50%;
  margin-right: 0%;
  background-color: white;
  position: fixed;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@keyframes rotateLime {
  from {
    transform: rotate(360deg);
    opacity: 1.4;
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes largeSentence {
  0% {
    transform: none;
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: none;
  }
}
.main1__chatspace i {
  font-size: 120px;
  color: rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  animation: rotateLime 1.5s ease-in-out infinite;
}
.main1__chatspace div {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  animation: largeSentence 1.5s ease-in-out infinite;
}
