#splash-screen {
  position: absolute;
  z-index: 99;
  height: 100vh;
  width: 100vw;
  background-color: #04cf5c;
  display: flex;
  top: 0;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: 600;
  color: white;
}
@media screen and (max-height: 480px) {
  #splash-screen {
    display: none;
  }
}
@media (orientation: portrait) {
  html {
    transform: rotate(-90deg);
    transform-origin: top left;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100vh;
    height: 100vw;
  }
}
